extends layout

block style
	style.
		img {margin: 0 auto;}

block content
	.row.text-center
		br
		br		
		h2 SKKU Software Engineering Team 4
		label.line
			
	.brand
		.col-md-1.brand-grid
		.col-md-2.brand-grid
			img.img-responsive(src='images/members/sujin.jpg', alt='', width = '150', height = '150', align = 'center')
			.row.text-center
				h4
					b Oh Sujin
					br
					| Team Leader
					br
					| part!

		.col-md-2.brand-grid
			img.img-responsive(src='images/members/Jeonghun.jpg', alt='', width = '150', height = '150', align = 'center')
			.row.text-center
				h4
					b Gong Jeonghun
					br
					| role!
					br
					| part!

		.col-md-2.brand-grid
			img.img-responsive(src='images/members/temp.jpg', alt='', width = '150', height = '150', align = 'center')
			.row.text-center
				h4
					b Kim Taejun
					br
					| role!
					br
					| part! 

		.col-md-2.brand-grid
			img.img-responsive(src='images/members/sangkyu.jpg', alt='', width = '150', height = '150', align = 'center')
			.row.text-center
				h4
					b Lee Sangkyu
					br
					| role!
					br
					| part! Name

		.col-md-2.brand-grid
			img.img-responsive(src='images/members/hongryul.jpg', alt='', width = '150', height = '150', align = 'center')
			.row.text-center
				h4
					b Jeong Hongryul
					br
					| role!
					br
					| part! Name
		.clearfix
