extends layout

block content


	.row.text-center
		h2 SKKU Software Engineering Team 4

			
	.brand
		.col-md-1.brand-grid
		.col-md-2.brand-grid
			img.img-responsive(src='images/ic.png', alt='')
			.row.text-center
				h4 Name 1

		.col-md-2.brand-grid
			img.img-responsive(src='images/ic1.png', alt='')
			.row.text-center
				h4 Name 2

		.col-md-2.brand-grid
			img.img-responsive(src='images/ic2.png', alt='')
			.row.text-center
				h4 Name 3

		.col-md-2.brand-grid
			img.img-responsive(src='images/members/jeonghun.jpg', alt='')
			.row.text-center
				h4 Name 4

		.col-md-2.brand-grid
			img.img-responsive(src='images/ic3.png', alt='')
			.row.text-center
				h4 Name 5
		.clearfix
