extends layout

block content


	.row.text-center
		h2 SKKU Software Engineering Team 4

			
	.brand
		.col-md-1.brand-grid
		.col-md-2.brand-grid
			img.img-responsive(src='images/members/sujin.jpg', alt='', width = '150', height = '150', align = 'center')
			.row.text-center
				h4 Oh Sujin

		.col-md-2.brand-grid
			img.img-responsive(src='images/members/hongryul.jpg', alt='', width = '150', height = '150')
			.row.text-center
				h4 Jeong Hongryul

		.col-md-2.brand-grid
			img.img-responsive(src='images/members/Jeonghun.jpg', alt='', width = '150', height = '150')
			.row.text-center
				h4 Gong Jeonghun

		.col-md-2.brand-grid
			img.img-responsive(src='images/members/temp.jpg', alt='', width = '150', height = '150')
			.row.text-center
				h4 Name

		.col-md-2.brand-grid
			img.img-responsive(src='images/members/temp.jpg', alt='', width = '150', height = '150')
			.row.text-center
				h4 Name
		.clearfix
