extends layout

//first. how to get parameter when linking?

block style

	style.
		canvas {border:1px solid black}
		label.hvr-skew-backward {margin-bottom: 50px;}
		img {margin:0 auto;}

		table.filter tr {max-width: 50px; max-height:20px; margin-bottom: 0 !important;}
		//table td {color: black; word-break: break-all; border: 1px solid #ddd !important;}
		//table {min-width: 450px; margin-bottom: 0 !important;}
		thead {font-weight: bold;}
		td.title {min-width: 370px;}
		td.views {min-width: 80px;}

		table-info2 td {color: black; word-break: break-all; border: 1px solid #ddd !important;}
		table-info2 {min-width: 450px; margin-bottom: 0 !important;}
		thead-info2 {font-weight: bold;}
		td.category {width: 100px;}
		td.detail {max-width: 300px;}

		h2 {margin: 30px 0; text-align: center;}
		button.btn.btn-info.write {margin: 10px 0; float: right;}
		ul.pagination > li > a:hover {background-color: #5BC0DE; color: #FFFFFF;}
		.form-group {display: inline-block !important; margin-right: 5px;}

		.img-div {height: 500px;}
		.outer-div {position: absolute; top:0; left: 0; width: 100%; height: 100%; z-index: 0; background-color: blue;}
		.inner-div {position: absolute; top:30%; left:30%; width: 40%; height: 40%; z-index: 1; background-color: red;}

	//parameter 1 : product type
	//parameter 2 :
block content
	.container
		table.table-info2.table-hover.table-striped
				thead
					tr
						td.category category
						td.detali detali
		hr.hidden-xs
		// show the step of current
		.col-sm-3.custom_STEP-current
			h1(align='center').font-ubuntubold
				| STEP1
		.col-sm-3.custom_STEP-current
			h1(align='center').font-ubuntubold.hidden-xs
				| STEP2
		.col-sm-3.custom_STEP-next
			h1(align='center').font-ubuntubold.hidden-xs
				| STEP3
		.col-sm-3.custom_STEP-next
			h1(align='center').font-ubuntubold.hidden-xs
				| STEP4
		br.hidden-xs
		br.hidden-xs
		hr
		.col-md-6.text-center.profile_left
			h3(align = 'left') Preview
			//canvas#canvas(width='400px', height='400px').hidden-xs.hidden-sm
			canvas#canvas(width='600px', height='400px').hidden-xs.hidden-md.hidden-lg
			//canvas#canvas(width=auto, height='300px').hidden-sm.hidden-md.hidden-lg
				| This browser do not support canvas.
			.img-div.col-xs-12
				.outer-div
				.inner-div

			table.table-info2.table-hover.table-striped
				thead
					tr
						td.category
							font(color='black') category
						td.detali
							font(color='black') values
				tbody
					tr
						td
							font(color='black') Board Type
						td
							font(color='#42BD71', size='6px').font-koolbean Long Board
					tr
						td address
						td suwon-city

					tr
						td occupation
						td Secret
		hr.hidden-md.hidden-lg
		.col-md-6.myinfo_detail-right		
			//h3 Search Filter
			//hr
			form(action='#', accept-charset='utf-8', name='datalist', method='get')
				fieldset(style='width:350, border=1 solid black')
					legend
						h4.cate Price
						h4.font-ubuntureg
						label
							| minimum : 
							input(type='number', name='text', style='text-align: right; width:200px').hidden-xs
							input(type='number', name='text', style='text-align: right; width:100px').hidden-sm.hidden-md.hidden-lg
							|  KRW
							br
							| maximum : 
							input(type='number', name='text', style='text-align: right; width:200px').hidden-xs
							input(type='number', name='text', style='text-align: right; width:100px').hidden-sm.hidden-md.hidden-lg
							|  KRW
						br
						br
					legend
						h4.cate Color
						button.btn.color-btn(type='button', style='background-color: black;', value='0')
						button.btn.color-btn(type='button', style='background-color: white;', value='1')
						button.btn.color-btn(type='button', style='background-color: red;', value='2')
						button.btn.color-btn(type='button', style='background-color: orange;', value='3')
						button.btn.color-btn(type='button', style='background-color: yellow;', value='4')
						button.btn.color-btn(type='button', style='background-color: green;', value='5')
						button.btn.color-btn(type='button', style='background-color: blue;', value='6')
						button.btn.color-btn(type='button', style='background-color: purple;', value='7')
						button.btn.color-btn(type='button', style='background-color: #79E5CB;', value='8')
					legend
						h4.cate Name
						label
							input(type='text', name='text', style='text-align: right; width:250px').hidden-xs
							input(type='text', name='text', style='text-align: right; width:200px').hidden-sm.hidden-md.hidden-lg
							input(type='submit', value='search').font-ubuntureg

							// black
			input(type='submit', value='PREV').font-ubuntureg
			input(type='reset', value='reset').font-ubuntureg
			input(type='submit', value='NEXT').font-ubuntureg
			br
			br
			.clearfix
			.col-md-11
				.mid-popular
					.col-md-4.item-grid1.simpleCart_shelfItem
						.mid-pop
							.pro-img
								img.img-responsive(src='images/pc.jpg', alt='')
								.zoom-icon
									a.picture(href='images/pc.jpg', rel='title')
										i.glyphicon.glyphicon-search.icon
									a(href='single.html')
										i.glyphicon.glyphicon-menu-right.icon
							.mid-1
								.women
									.women-top
										span Women
										h6
											a(href='single.html') Sed ut perspiciati
									.img.item_add
										a(href='#')
											img(src='images/ca.png', alt='')
									.clearfix
								.mid-2
									p
										label $100.00
										em.item_price $70.00
									.block
										.starbox.small.ghosting  
									.clearfix
					.col-md-4.item-grid1.simpleCart_shelfItem
						.mid-pop
							.pro-img
								img.img-responsive(src='images/pc1.jpg', alt='')
								.zoom-icon
									a.picture(href='images/pc1.jpg', rel='title')
										i.glyphicon.glyphicon-search.icon
									a(href='single.html')
										i.glyphicon.glyphicon-menu-right.icon
							.mid-1
								.women
									.women-top
										span Women
										h6
											a(href='single.html') At vero eos
									.img.item_add
										a(href='#')
											img(src='images/ca.png', alt='')
									.clearfix
								.mid-2
									p
										label $100.00
										em.item_price $70.00
									.block
										.starbox.small.ghosting  
									.clearfix
					.col-md-4.item-grid1.simpleCart_shelfItem
						.mid-pop
							.pro-img
								img.img-responsive(src='images/pc2.jpg', alt='')
								.zoom-icon
									a.picture(href='images/pc2.jpg', rel='title')
										i.glyphicon.glyphicon-search.icon
									a(href='single.html')
										i.glyphicon.glyphicon-menu-right.icon
							.mid-1
								.women
									.women-top
										span Men
										h6
											a(href='single.html') Sed ut perspiciati
									.img.item_add
										a(href='#')
											img(src='images/ca.png', alt='')
									.clearfix
								.mid-2
									p
										label $100.00
										em.item_price $70.00
									.block
										.starbox.small.ghosting  
									.clearfix
					.col-md-4.item-grid1.simpleCart_shelfItem
						.mid-pop
							.pro-img
								img.img-responsive(src='images/pc3.jpg', alt='')
								.zoom-icon
									a.picture(href='images/pc3.jpg', rel='title')
										i.glyphicon.glyphicon-search.icon
									a(href='single.html')
										i.glyphicon.glyphicon-menu-right.icon
							.mid-1
								.women
									.women-top
										span Women
										h6
											a(href='single.html') On the other
									.img.item_add
										a(href='#')
											img(src='images/ca.png', alt='')
									.clearfix
								.mid-2
									p
										label $100.00
										em.item_price $70.00
									.block
										.starbox.small.ghosting  
									.clearfix
					.col-md-4.item-grid1.simpleCart_shelfItem
						.mid-pop
							.pro-img
								img.img-responsive(src='images/pc4.jpg', alt='')
								.zoom-icon
									a.picture(href='images/pc4.jpg', rel='title')
										i.glyphicon.glyphicon-search.icon
									a(href='single.html')
										i.glyphicon.glyphicon-menu-right.icon
							.mid-1
								.women
									.women-top
										span Men
										h6
											a(href='single.html') On the other
									.img.item_add
										a(href='#')
											img(src='images/ca.png', alt='')
									.clearfix
								.mid-2
									p
										label $100.00
										em.item_price $70.00
									.block
										.starbox.small.ghosting  
									.clearfix
					.col-md-4.item-grid1.simpleCart_shelfItem
						.mid-pop
							.pro-img
								img.img-responsive(src='images/pc5.jpg', alt='')
								.zoom-icon
									a.picture(href='images/pc5.jpg', rel='title')
										i.glyphicon.glyphicon-search.icon
									a(href='single.html')
										i.glyphicon.glyphicon-menu-right.icon
							.mid-1
								.women
									.women-top
										span Men
										h6
											a(href='single.html') Sed ut perspiciati
									.img.item_add
										a(href='#')
											img(src='images/ca.png', alt='')
									.clearfix
								.mid-2
									p
										label $100.00
										em.item_price $70.00
									.block
										.starbox.small.ghosting  
									.clearfix
					.clearfix
block script
	script.
		var canvas;
		var ctx;
		window.onload = function() {
		canvas = document.getElementByID("canvas");
		if (canvas == null || canvas.getContext == null) return;
		ctx = canvas.getContext("2d");
		draw();
		}
		function draw() {
		var img = new Image();
		img.src='images/custom/example.jpg';
		img.onload = function() {
		ctx.drawImage(img, 50, 0);
		var img2 = new Image();
		img2.src="rose.png";
		img2.onload = function() {         
		ctx.drawImage(img2, 100, 0);      
		}
		}
		}