extends layout

//first. how to get parameter when linking?

block style

	style.
		canvas {border:1px solid black}
		label.hvr-skew-backward {margin-bottom: 50px;}
		img {margin:0 auto;}

		table.filter tr {max-width: 50px; max-height:20px; margin-bottom: 0 !important;}
		//table td {color: black; word-break: break-all; border: 1px solid #ddd !important;}
		//table {min-width: 450px; margin-bottom: 0 !important;}
		thead {font-weight: bold;}
		td.title {min-width: 370px;}
		td.views {min-width: 80px;}

		table-info2 td {color: black; word-break: break-all; border: 1px solid #ddd !important;}
		table-info2 {min-width: 450px; margin-bottom: 0 !important;}
		thead-info2 {font-weight: bold;}
		td.category {width: 100px;}
		td.detail {max-width: 300px;}

		h2 {margin: 30px 0; text-align: center;}
		button.btn.btn-info.write {margin: 10px 0; float: right;}
		ul.pagination > li > a:hover {background-color: #5BC0DE; color: #FFFFFF;}
		.form-group {display: inline-block !important; margin-right: 5px;}





	//parameter 1 : product type
	//parameter 2 :
block content
	.container
		table.table-info2.table-hover.table-striped
				thead
					tr
						td.category category
						td.detali detali
		hr.hidden-xs
		// show the step of current
		.col-sm-3.custom_STEP-current
			h1(align='center').font-ubuntubold
				| STEP1
		.col-sm-3.custom_STEP-current
			h1(align='center').font-ubuntubold.hidden-xs
				| STEP2
		.col-sm-3.custom_STEP-next
			h1(align='center').font-ubuntubold.hidden-xs
				| STEP3
		.col-sm-3.custom_STEP-next
			h1(align='center').font-ubuntubold.hidden-xs
				| STEP4
		br.hidden-xs
		br.hidden-xs
		hr
		.col-md-6.text-center.profile_left
			h3(align = 'left') Preview
			canvas#canvas(width='400px', height='400px').hidden-xs.hidden-sm
			canvas#canvas(width='600px', height='400px').hidden-xs.hidden-md.hidden-lg
			canvas#canvas(width=auto, height='300px').hidden-sm.hidden-md.hidden-lg
				| This browser do not support canvas.
			script.
				var canvas;
				var ctx;
				window.onload = function() {
				canvas = document.getElementByID("canvas");
				if (canvas == null || canvas.getContext == null) return;
				ctx = canvas.getContext("2d");
				draw();
				}
				function draw() {
				ctx.strokeRect(10, 10, 100, 100)
				}
			table.table-info2.table-hover.table-striped
				thead
					tr
						td.category
							font(color='black') category
						td.detali
							font(color='black') values
				tbody
					tr
						td
							font(color='black') Board Type
						td
							font(color='#42BD71', size='6px').font-koolbean Long Board
					tr
						td address
						td suwon-city

					tr
						td occupation
						td Secret
		hr.hidden-md.hidden-lg
		.col-md-6.myinfo_detail-right		
			//h3 Search Filter
			//hr
			form(action='#', accept-charset='utf-8', name='datalist', method='get')
				fieldset(style='width:350, border=1 solid black')
					legend
						h4.cate Price
						h4.font-ubuntureg
						label
							| minimum : 
							input(type='number', name='text', style='text-align: right; width:200px').hidden-xs
							input(type='number', name='text', style='text-align: right; width:100px').hidden-sm.hidden-md.hidden-lg
							|  KRW
							br
							| maximum : 
							input(type='number', name='text', style='text-align: right; width:200px').hidden-xs
							input(type='number', name='text', style='text-align: right; width:100px').hidden-sm.hidden-md.hidden-lg
							|  KRW
						br
						br
					legend
						h4.cate Color
						.row.row1.scroll-pane
							.col.col-4
							table.filter(width='30')
								tr(align='center' height='5%')
									td(width='10%')
										label.checkbok
											input(type='checkbox', name='checkbox')
									td(width='10%')
										label.checkbok
											input(type='checkbox', name='checkbox')
									td(width='10%')
										label.checkbok
											input(type='checkbox', name='checkbox')
									td(width='10%')
										label.checkbok
											input(type='checkbox', name='checkbox')
									td(width='10%')
										label.checkbok
											input(type='checkbox', name='checkbox')
									td(width='10%')
										label.checkbok
											input(type='checkbox', name='checkbox')
									td(width='10%')
										label.checkbok
											input(type='checkbox', name='checkbox')
									td(width='10%')
										label.checkbok
											input(type='checkbox', name='checkbox')
									td(width='10%')
										label.checkbok
											input(type='checkbox', name='checkbox')
								tr(alig='center')
									td(width='10%', bgcolor='black')
									td(width='10%', bgcolor='white')
									td(width='10%', bgcolor='red')
									td(width='10%', bgcolor='orange')
									td(width='10%', bgcolor='yellow')
									td(width='10%', bgcolor='green')
									td(width='10%', bgcolor='blue')
									td(width='10%', bgcolor='purple')
									td(width='10%', bgcolor='#14ffd6')
						label
							h4.cate Name
							input(type='text', name='text', style='text-align: right; width:250px').hidden-xs
							input(type='text', name='text', style='text-align: right; width:200px').hidden-sm.hidden-md.hidden-lg

							// black
			input(type='submit', value='PREV').font-ubuntureg
			input(type='reset', value='reset').font-ubuntureg
			input(type='submit', value='NEXT').font-ubuntureg
			br
			br
			select(id = 'text', name = 'product type')
				option(value = 'first', name = 'first') Long board
				option(vaule = 'second', name = 'second') Cruser board
				option(vaule = 'second', name = 'second') Skate board
