extends layout

block content
	// banner
	.banner
		.container
			section.rw-wrapper
				h1.rw-sentence
					span Fashion & Beauty
					.rw-words.rw-words-1
						span Beautiful Designs
						span Sed ut perspiciatis
						span  Totam rem aperiam
						span Nemo enim ipsam
						span Temporibus autem
						span intelligent systems
					.rw-words.rw-words-2
						span We denounce with right
						span But in certain circum
						span Sed ut perspiciatis unde
						span There are many variation
						span The generated Lorem Ipsum
						span Excepteur sint occaecat
	// content
	.content
		.container
			// products
			.content-mid
				h3 Recent Itmes
				label.line
				.mid-popular
					.col-md-3.item-grid.simpleCart_shelfItem
						.mid-pop
							.pro-img
								img.img-responsive(src='images/pc.jpg', alt='')
								.zoom-icon
									a.picture(href='images/pc.jpg', rel='title')
										i.glyphicon.glyphicon-search.icon
									a(href='single')
										i.glyphicon.glyphicon-menu-right.icon
							.mid-1
								.women
									.women-top
										span Women
										h6
											a(href='single') Sed ut perspiciati
									.img.item_add
										a(href='#')
											img(src='images/ca.png', alt='')
									.clearfix
								.mid-2
									p
										label $100.00
										em.item_price $70.00
									.block
										.starbox.small.ghosting  
									.clearfix
					.col-md-3.item-grid.simpleCart_shelfItem
						.mid-pop
							.pro-img
								img.img-responsive(src='images/pc1.jpg', alt='')
								.zoom-icon
									a.picture(href='images/pc1.jpg', rel='title')
										i.glyphicon.glyphicon-search.icon
									a(href='single')
										i.glyphicon.glyphicon-menu-right.icon
							.mid-1
								.women
									.women-top
										span Women
										h6
											a(href='single') At vero eos
									.img.item_add
										a(href='#')
											img(src='images/ca.png', alt='')
									.clearfix
								.mid-2
									p
										label $100.00
										em.item_price $70.00
									.block
										.starbox.small.ghosting  
									.clearfix
					.col-md-3.item-grid.simpleCart_shelfItem
						.mid-pop
							.pro-img
								img.img-responsive(src='images/pc2.jpg', alt='')
								.zoom-icon
									a.picture(href='images/pc2.jpg', rel='title')
										i.glyphicon.glyphicon-search.icon
									a(href='single')
										i.glyphicon.glyphicon-menu-right.icon
							.mid-1
								.women
									.women-top
										span Men
										h6
											a(href='single') Sed ut perspiciati
									.img.item_add
										a(href='#')
											img(src='images/ca.png', alt='')
									.clearfix
								.mid-2
									p
										label $100.00
										em.item_price $70.00
									.block
										.starbox.small.ghosting  
									.clearfix
					.col-md-3.item-grid.simpleCart_shelfItem
						.mid-pop
							.pro-img
								img.img-responsive(src='images/pc3.jpg', alt='')
								.zoom-icon
									a.picture(href='images/pc3.jpg', rel='title')
										i.glyphicon.glyphicon-search.icon
									a(href='single')
										i.glyphicon.glyphicon-menu-right.icon
							.mid-1
								.women
									.women-top
										span Women
										h6
											a(href='single') On the other
									.img.item_add
										a(href='#')
											img(src='images/ca.png', alt='')
									.clearfix
								.mid-2
									p
										label $100.00
										em.item_price $70.00
									.block
										.starbox.small.ghosting  
									.clearfix
					.clearfix
				.mid-popular
					.col-md-3.item-grid.simpleCart_shelfItem
						.mid-pop
							.pro-img
								img.img-responsive(src='images/pc4.jpg', alt='')
								.zoom-icon
									a.picture(href='images/pc4.jpg', rel='title')
										i.glyphicon.glyphicon-search.icon
									a(href='single')
										i.glyphicon.glyphicon-menu-right.icon
							.mid-1
								.women
									.women-top
										span Men
										h6
											a(href='single') On the other
									.img.item_add
										a(href='#')
											img(src='images/ca.png', alt='')
									.clearfix
								.mid-2
									p
										label $100.00
										em.item_price $70.00
									.block
										.starbox.small.ghosting  
									.clearfix
					.col-md-3.item-grid.simpleCart_shelfItem
						.mid-pop
							.pro-img
								img.img-responsive(src='images/pc5.jpg', alt='')
								.zoom-icon
									a.picture(href='images/pc5.jpg', rel='title')
										i.glyphicon.glyphicon-search.icon
									a(href='single')
										i.glyphicon.glyphicon-menu-right.icon
							.mid-1
								.women
									.women-top
										span Men
										h6
											a(href='single') Sed ut perspiciati
									.img.item_add
										a(href='#')
											img(src='images/ca.png', alt='')
									.clearfix
								.mid-2
									p
										label $100.00
										em.item_price $70.00
									.block
										.starbox.small.ghosting  
									.clearfix
					.col-md-3.item-grid.simpleCart_shelfItem
						.mid-pop
							.pro-img
								img.img-responsive(src='images/pc6.jpg', alt='')
								.zoom-icon
									a.picture(href='images/pc6.jpg', rel='title')
										i.glyphicon.glyphicon-search.icon
									a(href='single')
										i.glyphicon.glyphicon-menu-right.icon
							.mid-1
								.women
									.women-top
										span Women
										h6
											a(href='single') At vero eos
									.img.item_add
										a(href='#')
											img(src='images/ca.png', alt='')
									.clearfix
								.mid-2
									p
										label $100.00
										em.item_price $70.00
									.block
										.starbox.small.ghosting  
									.clearfix
					.col-md-3.item-grid.simpleCart_shelfItem
						.mid-pop
							.pro-img
								img.img-responsive(src='images/pc7.jpg', alt='')
								.zoom-icon
									a.picture(href='images/pc7.jpg', rel='title')
										i.glyphicon.glyphicon-search.icon
									a(href='single')
										i.glyphicon.glyphicon-menu-right.icon
							.mid-1
								.women
									.women-top
										span Men
										h6
											a(href='single') Sed ut perspiciati
									.img.item_add
										a(href='#')
											img(src='images/ca.png', alt='')
									.clearfix
								.mid-2
									p
										label $100.00
										em.item_price $70.00
									.block
										.starbox.small.ghosting  
									.clearfix
					.clearfix
			// //products
	// //content
