extends layout

block content
	// banner, banner image is ba11. And it is in the style.css - JUNG
	.banner
		.container
			section.rw-wrapper
				h1.rw-sentence
					span(align='center')
						|  DESIGN
						br.hidden-md.hidden-lg
						|  YOUR SELF
					.rw-words.rw-words-1
						span Ver
						span Bea
						span Fas
						span Intelligent systems
					.rw-words.rw-words-2
						span Very Easy
						span Beautiful Designs
						span Fast Speed
						span But Inexpensive
	// content
	.content
		.container
			// products
			.content-mid
				h3 Recent Itmes
				label.line
				.mid-popular
					.col-md-3.item-grid.simpleCart_shelfItem
						.mid-pop
							.pro-img
								img.img-responsive(src="images/skateboard/example.jpg", alt='')
								.zoom-icon
									a.picture(src="images/skateboard/example.jpg", rel='title')
										i.glyphicon.glyphicon-search.icon
									a(href='single')
										i.glyphicon.glyphicon-menu-right.icon
							.mid-1
								.women
									.women-top
										span Complete Board
										h6
											a(href='single') complete example
									.img.item_add
										a(href='#')
											img(src="images/skateboard/example.jpg", alt='')
									.clearfix
								.mid-2
									p
										label $100.00
										em.item_price $70.00
									.block
										.starbox.small.ghosting  
									.clearfix
					.col-md-3.item-grid.simpleCart_shelfItem
						.mid-pop
							.pro-img
								img.img-responsive(src="images/skateboard/example2.jpg", alt='')
								.zoom-icon
									a.picture(src="images/skateboard/example2.jpg", rel='title')
										i.glyphicon.glyphicon-search.icon
									a(href='single')
										i.glyphicon.glyphicon-menu-right.icon
							.mid-1
								.women
									.women-top
										span Deck
										h6
											a(href='single') Deck example
									.img.item_add
										a(href='#')
											img(src="images/skateboard/example2.jpg", alt='')
									.clearfix
								.mid-2
									p
										label $100.00
										em.item_price $70.00
									.block
										.starbox.small.ghosting  
									.clearfix
					.col-md-3.item-grid.simpleCart_shelfItem
						.mid-pop
							.pro-img
								img.img-responsive(src="images/skateboard/example3.jpg", alt='')
								.zoom-icon
									a.picture(src="images/skateboard/example3.jpg", rel='title')
										i.glyphicon.glyphicon-search.icon
									a(href='single')
										i.glyphicon.glyphicon-menu-right.icon
							.mid-1
								.women
									.women-top
										span Deck
										h6
											a(href='single') Deck example
									.img.item_add
										a(href='#')
											img(src="images/skateboard/example3.jpg", alt='')
									.clearfix
								.mid-2
									p
										label $100.00
										em.item_price $70.00
									.block
										.starbox.small.ghosting  
									.clearfix
					.col-md-3.item-grid.simpleCart_shelfItem
						.mid-pop
							.pro-img
								img.img-responsive(src="images/skateboard/example4.jpg", alt='')
								.zoom-icon
									a.picture(src="images/skateboard/example4.jpg", rel='title')
										i.glyphicon.glyphicon-search.icon
									a(href='single')
										i.glyphicon.glyphicon-menu-right.icon
							.mid-1
								.women
									.women-top
										span Deck
										h6
											a(href='single') Deck example
									.img.item_add
										a(href='#')
											img(src="images/skateboard/example4.jpg", alt='')
									.clearfix
								.mid-2
									p
										label $100.00
										em.item_price $70.00
									.block
										.starbox.small.ghosting  
									.clearfix
					.clearfix
			// //products
	// //content
