extends layout

block style
  style.
    label.hvr-skew-backward {margin-bottom: 2em; width: 100%; text-align: center;}
    a.hvr-skew-backward {margin-bottom: 50px; width: 100%; text-align: center; cursor: pointer;}

block content
  script.
    window.fbAsyncInit = function() {
    FB.init({
      appId      : '1725103691081244',
      cookie     : true,  // enable cookies to allow the server to access 
                          // the session
      xfbml      : true,  // parse social plugins on this page
      version    : 'v2.6' // use version 2.6
    });
    };

    function go_signup(){
      FB.getLoginStatus(function(response) {
        if (response.status == 'connected') {
          FB.api(
            '/me',
            'GET',
            {"fields":"id,name,gender,email"},
            function(response) {
              $.ajax({
                type: 'POST',
                data: response, 
                dataType: "JSON",
                url: '/sign_FB',
                success: function(data) {
                  var form = document.createElement('form');
                  form.setAttribute('method', 'post');
                  form.setAttribute('action', '/sign');
                  for (var key in data) {
                    var hiddenField = document.createElement("input");
                    hiddenField.setAttribute("type", "hidden");
                    hiddenField.setAttribute("name", key);
                    hiddenField.setAttribute("value", data[key]);
                    form.appendChild(hiddenField);
                  }
                  document.body.appendChild(form);
                  form.submit();
                },
                error: function(request, status, error) {
                  location.href = document.referrer;
                }
              });
            });
          }
        });
      }

      function fb_login(){
        FB.login(function(response) {
          if (response.authResponse && response.authResponse.grantedScopes.includes("email")) {
            go_signup();
          } else {
            alert('Board a To z 가입을 위해서 Facebook 기본 프로필, 이메일 정보가 필요합니다.');
          }
        }, {
          scope: 'public_profile, email',
          auth_type: 'rerequest',
          return_scopes: true
        });
      }

      // Load the SDK asynchronously
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

  .container
    .login
      .col-md-6.login-title
          h3 Log-in page!
      .col-md-6.login-title
          p
            | Log-in page!
      form(role='form', action='login_check', method='post')
        .col-md-6.login-do
          .login-mail
            input(type='text', name='email', placeholder='Email', required)
            i.glyphicon.glyphicon-envelope
          .login-mail
            input(type='password', name='pw', placeholder='Password', required)
            i.glyphicon.glyphicon-lock
          label.hvr-skew-backward
            input(type='submit', value='Login')
          a.hvr-skew-backward(onClick='fb_login()') Login with facebook
        .col-md-6.login-right
          h3 Join Board a To z !
          p
            | Hello. Our site is on-line board shopping mall and community site. Especially, our site offer customizing feature as well as selling complete boards. You can customize your own board easily by using out customizing tool. Also our site offer watching board lectures. SO if you join Board a TO z, you can use on everythiing from buying a board to learning how to ride a board.
            | Join Board a TO z and enjoy our site.
          a.hvr-skew-backward(href='sign') Register
        .clearfix

block script
  if (login_fail)
    script.
      alert('Verify your email or password.');
