extends layout

block style
	style.
		table td {color: black; word-break: break-all; border: 1px solid #ddd !important;}
		table {min-width: 700px; margin-bottom: 0 !important;}
		thead {font-weight: bold;}
		td.title {min-width: 400px;}
		td.no {width: 60px;}
		td.views {min-width: 60px;}
		td.writer, td.date {min-width: 100px;}
		h2 {margin: 30px 0; text-align: center;}
		button.btn.btn-info.write {margin: 10px 0; float: right;}
		ul.pagination > li > a:hover {background-color: #5BC0DE; color: #FFFFFF;}
		.form-group {display: inline-block !important; margin-right: 5px;}

block content
	script(language='javascript').
		function showPopup() { window.open("MYpage_show_bid_detail", "TEST", "width=600, height=500, left=100, top=50"); }
	.container
		h2 Bid list for seller
		.col-xs-12(style='overflow: auto;')
			table.table.table-hover.table-striped
				thead
					tr
						td.no Bid Number
				tbody
					each val in contents
						tr
							td
								a(href= onclick='showPopup();')= val.SN 