doctype html
html
	body(onload='window.resizeTo(400,200)')
		br
		br
		table
			tr
				td ~~
			tr
				td ~~
		input(type='button', value = 'orderlist', onclick='save_and_close();')
		input(type='button', value='Close', onclick='window.close();')