doctype html
html
	link(href='css/bootstrap.css', rel='stylesheet', type='text/css', media='all')
	
	body(onload='window.resizeTo(600,700)')
		.container
		h3
			| Bid Detail view page
		br
		.payinfo
			h4
			b Bid Information 
			br
			| - Bid number : 
			//bid db
			br
			| - Customizing number : 
			br
			| - Price : 
			br
			| - comment :

		script(src='js/jquery.min.js')
		script(src='js/bootstrap.min.js')