doctype html
html
	link(href='css/bootstrap.css', rel='stylesheet', type='text/css', media='all')
	
	body(onload='window.resizeTo(600,700)')
		.container
		h3
			| Deal Detail view page
		br
		.payinfo
			h4
			b Deal Information 
			br
			| - Deal number :
			br
			| - Order number : 
			br
			| - Date : 
			br
			| - seller comment : 
			br
			| - buyer comment :

		script(src='js/jquery.min.js')
		script(src='js/bootstrap.min.js')