doctype html
html
	link(href='css/bootstrap.css', rel='stylesheet', type='text/css', media='all')
	
	body(onload='window.resizeTo(600,700)')
		.container
		h3
			| Bid Candidate view page //바이어의 비드 번호와 동일한 비드 번호를 가지는 비드리스트 후보자들을 모아서 출력함 
		br
		.payinfo
			h4
			b Bid Information 
			br
			| - Bid number : 
			//bid db
			br
			| - Customizing number : 
			br
			| - Price : 
			br
			| - comment :

		script(src='js/jquery.min.js')
		script(src='js/bootstrap.min.js')