extends layout

//first. how to get parameter when linking?

block style

	style.
		h2 {margin: 30px 0; text-align: center;}
		button.btn.btn-info.write {margin: 10px 0; float: right;}
		ul.pagination > li > a:hover {background-color: #5BC0DE; color: #FFFFFF;}
		.form-group {display: inline-block !important; margin-right: 5px;}

block content
	.container
		hr.hidden-xs
		h1 dddddd
		// show the step of current
		.col-sm-3.custom_STEP-current