extends layout

block style
	style.
		table td {color: black; word-break: break-all; border: 1px solid #ddd !important;}
		table {min-width: 600px; margin-bottom: 0 !important;}
		thead {font-weight: bold;}
		td.orderno {min-width: 50px;}
		td.picture {width: 100px;}
		td.name {width: 350px;}

		td.date {min-width: 100px;}
		h2 {margin: 30px 0; text-align: center;}
		button.btn.btn-info.write {margin: 10px 0; float: right;}
		ul.pagination > li > a:hover {background-color: #5BC0DE; color: #FFFFFF;}
		.form-group {display: inline-block !important; margin-right: 5px;}

block content
