extends layout

block style
	style.
		img {margin: 0 auto;}

block content
	hr
	br
	br
	img(src="images/custom/order_complete.jpg")
	input.form-control#search_word(type='submit', name='Purchase now')
	input.form-control#search_word(type='submit', name=' Go to Home ')