extends layout

block style
	style.
		label.hvr-skew-backward {margin-bottom: 50px;}
		#corp_num {display: none;}

block content
	script(langauge='javascript').
		function credit()
		{
			alert("Using credit card to pay.");
		}
		function transfer()
		{
			alert("Using account transfer to pay.");
		}
	.container
		br
		br

		.payinfo
			form(role = 'form', name = 'payform', method = 'post')

				input(type = 'radio', name = 'method', value = 'credit', onclick = 'credit()', checked)
				|	credit card  
				input(type = 'radio', name = 'method', value = 'transfer', onclick = 'transfer()')
				|	account

				.col-md-12.login-do
					.login-mail
						input(type = 'text', name = 'address', placeholder = 'write your address here')

					.login-mail
						input(type = 'text', name = 'phone number', placeholder = 'write your phone number here')

					.login-mail
						input(type = 'text', name = 'comment', placeholder = 'comment to delivary service')

					a.hvr-skew-backward(onclick='submit()') submit

block script
	script.
		function submit()
		{
			//things to do...
		}
