extends layout

block content
	.container

		h1 product detail page

			.col-md-6.text-center
				img.img-responsive(src = '/images/product/complete/long/sleepyheadayc_1673.jpg')

			.col-md-6.text-center
				h3 name
				h3 vendor
				h3 price
