extends layout

block style
	style.
		form h2, form a {margin: 2em 0;}
		form h5 {margin: 1em 0;}

		button.btn
		{
			width: 30px;
			height: 30px;
			margin-right: 10px;
			border: 2px solid black;
		}

block content
		.container
			.col-md-3.text-center.pallette_left

				.categories
					h4.cate Categories
					ul.menu-drop
						li.item1
							a(href='#') Completes 
							ul.cute
								li.subitem1
									a(href='product_list') Longboard 
								li.subitem2
									a(href='product_list') Cruserboard
								li.subitem3
									a(href='product_list') Skateboard 
						li.item2
							a(href='#') Component 
							ul.cute
								li.subitem1
									a(href='product_list') Truch 
								li.subitem2
									a(href='product_list') Wheel
								li.subitem3
									a(href='product_list') Deck 
						li.item3
							a(href='#') Accessory
							ul.cute
								li.subitem1
									a(href='product_list') Cleaning 
								li.subitem2
									a(href='product_list') Protects 
					.clearfix
					script(type='text/javascript').
						$(function() {
						var menu_ul = $('.menu-drop > li > ul'),
						menu_a  = $('.menu-drop > li > a');
						menu_ul.hide();
						menu_a.click(function(e) {
						e.preventDefault();
						if(!$(this).hasClass('active')) {
						menu_a.removeClass('active');
						menu_ul.filter(':visible').slideUp('normal');
						$(this).addClass('active').next().stop(true,true).slideDown('normal');
						} else {
						$(this).removeClass('active');
						$(this).next().stop(true,true).slideUp('normal');
						}
						});
						});



			.col-md-6.text-center.pallette-center
				.categories

					h5 color

					button.btn.color-btn(type='button', style='background-color: black;', value='0')
					button.btn.color-btn(type='button', style='background-color: white;', value='1')
					button.btn.color-btn(type='button', style='background-color: red;', value='2')
					button.btn.color-btn(type='button', style='background-color: orange;', value='3')
					button.btn.color-btn(type='button', style='background-color: yellow;', value='4')
					button.btn.color-btn(type='button', style='background-color: green;', value='5')
					button.btn.color-btn(type='button', style='background-color: blue;', value='6')
					button.btn.color-btn(type='button', style='background-color: purple;', value='7')
					button.btn.color-btn(type='button', style='background-color: #79E5CB;', value='8')
					.clearfix


			.col-md-3.text-center.pallette-right

					.categories
						h4.cate Price
						.row.row1.scroll-pane
							.col-col-4
								| minimum :
								input(type='text', size='4', name='text')
								br
								| maximum :
								input(type='text', size='4', name='text')
						.clearfix
