extends layout

block content
	.container

			.col-md-4.text-center
				img.img-responsive(src = '/images/product/complete/long/sleepyheadayc_1673.jpg', align = 'right')

			.col-md-8.text-left
				h1 product detail page
				br

				h3 name
<<<<<<< HEAD
				h3 seller
				h3 pricei

			.col-md-12.text-center.image-area

				img.img-responsive(src = 'images/qwerty.jpg')
=======
				br
				h3 vendor
				br
				h3 price
>>>>>>> 09c0c41676058b2a503aabfa25a32856464cd9bd
