extends layout

block style
	style.
		form h2, form a {margin: 2em 0;}
		form h5 {margin: 1em 0;}

		button.btn
		{
			width: 30px;
			height: 30px;
			margin-right: 10px;
			border: 2px solid black;
		}

block content
		.container
			.col-md-4.text-center.pallette_left

				.categories
					h4.cate Categories
					ul.menu-drop
						li.item1
							a(href='#') Completes 
							ul.cute
								li.subitem1
									a(href='product_list') Longboard 
								li.subitem2
									a(href='product_list') Cruserboard
								li.subitem3
									a(href='product_list') Skateboard 
						li.item2
							a(href='#') Component 
							ul.cute
								li.subitem1
									a(href='product_list') Truch 
								li.subitem2
									a(href='product_list') Wheel
								li.subitem3
									a(href='product_list') Deck 
						li.item3
							a(href='#') Accessory
							ul.cute
								li.subitem1
									a(href='product_list') Cleaning 
								li.subitem2
									a(href='product_list') Protects 
					.clearfix
					script(type='text/javascript').
						$(function() {
						var menu_ul = $('.menu-drop > li > ul'),
						menu_a  = $('.menu-drop > li > a');
						menu_ul.hide();
						menu_a.click(function(e) {
						e.preventDefault();
						if(!$(this).hasClass('active')) {
						menu_a.removeClass('active');
						menu_ul.filter(':visible').slideUp('normal');
						$(this).addClass('active').next().stop(true,true).slideDown('normal');
						} else {
						$(this).removeClass('active');
						$(this).next().stop(true,true).slideUp('normal');
						}
						});
						});

			.col-md-4.text-center.pallette-center
				.categories
						h4.cate color	
						.row.row1.scroll-pane
							.col-col-4
								table.filter
									tr(align='center')
										td(width='10%')
											label.checkbok
												input(type='checkbox', name='checkbox')
										td(width='10%')
											label.checkbok
												input(type='checkbox', name='checkbox')
										td(width='10%')
											label.checkbok
												input(type='checkbox', name='checkbox')
										td(width='10%')
											label.checkbok
												input(type='checkbox', name='checkbox')
										td(width='10%')
											label.checkbok
												input(type='checkbox', name='checkbox')

									tr(align='center')
										td(width='10%', bgcolor='black')
										td(width='10%', bgcolor='white')
										td(width='10%', bgcolor='red')
										td(width='10%', bgcolor='orange')
										td(width='10%', bgcolor='yellow')

									tr(align='center')
										td(width='10%')
											label.checkbok
												input(type='checkbox', name='checkbox')
										td(width='10%')
											label.checkbok
												input(type='checkbox', name='checkbox')
										td(width='10%')
											label.checkbok
												input(type='checkbox', name='checkbox')
										td(width='10%')
											label.checkbok
												input(type='checkbox', name='checkbox')
										td(width='10%')
											label.checkbok
												input(type='checkbox', name='checkbox')
										
									tr(align='center')

										td(width='10%', bgcolor='green')
										td(width='10%', bgcolor='blue')
										td(width='10%', bgcolor='purple')
										td(width='10%', bgcolor='#14ffd6')
										td(width='10%', bgcolor='#888888')
						.clearfix


			.col-md-4.text-center.pallette-right

					.categories
						h4.cate Price
						.row.ro1.scroll-pane
							.col-col-4
								| minimum :
								input(type='text', size='4', name='text')
								br
								| maximum : 
								input(type='text', size='4', name='text')
						.clearfix
