extends layout

block style
	style.
		img {margin: 0 auto;}
		.img-div {height: 500px;}
		.center-div {position: 'center'; top:0; left:0; width: 100%; height: auto; max-width: 400px; z-index: 0;}

block content

	.container
		.col-md-12.text-center.profile_left
			br
			img(src = 'images/purchase-complete.jpg')
			br
			a(href='/')
				input(type='submit', name=' Go to Home ', value = 'Return to home')
