extends layout

block style
  style.
    img {margin: 0 auto;}

block content
  .row.col-lg-12.text-center
    br
    br
    h2.section-heading Q & A
    label.line
    br
    h3.section-subheading.text-muted There are the best 9 question.
    br
    br
  .clearfix
  .container
    .row
      .col-lg-12
        ul.timeline
          li
            .timeline-image
              img.img-circle.img-responsive(src="images/qna/cir1.png", alt='80x80', style='width: 80px; height; 80px;')
            .timeline-panel
              .timeline-heading
                h4 QUESTION 1
                h4.subheading How to find ID or Password? 
              .timeline-body
                p.text-muted
                  | If users forget their ID or Password, users need to contact 'Board a To z'. Please send a e-mail.
          li.timeline-inverted
            .timeline-image
              img.img-circle.img-responsive(src="images/qna/cir2.png", alt='80x80', style='width: 80px; height; 80px;')
            .timeline-panel
              .timeline-heading
                h4 QUESTION 2
                h4.subheading Why Sellers cannot use easy log-in through 'FACEBOOK'? 
              .timeline-body
                p.text-muted
                  | Board a To z do not offer easy log-in through 'FACEBOOK' to sellers, because of reliability of products and orders.
          li
            .timeline-image
              img.img-circle.img-responsive(src="images/qna/cir3.png", alt='80x80', style='width: 80px; height; 80px;')
            .timeline-panel
              .timeline-heading
                h4 QUESTION 3
                h4.subheading How to make a Deal with Seller?
              .timeline-body
                p.text-muted
                  | Buyers can make a Deal about order with Sellers at their own 'mypage'. Check this feature at 'mypage'.
          li.timeline-inverted
            .timeline-image
              img.img-circle.img-responsive(src="images/qna/cir4.png", alt='80x80', style='width: 80px; height; 80px;')
            .timeline-panel
             .timeline-heading
                h4 QUESTION 4
                h4.subheading How to make customized board?
              .timeline-body
                p.text-muted
                  | If buyers want to make customized board, buyers can use customizing tool offered our system. Please select the 'custom' button and enjoy to make your customized board.
          li
            .timeline-image
              img.img-circle.img-responsive(src="images/qna/cir5.png", alt='80x80', style='width: 80px; height; 80px;')
            .timeline-panel
              .timeline-heading
                h4 QUESTION 5
                h4.subheading Is it possible to use his own picture with customizing tool?
              .timeline-body
                p.text-muted
                  | Yes, if buyers want to use their own piture, just upload that picture file.
          li.timeline-inverted
            .timeline-image
              img.img-circle.img-responsive(src="images/qna/cir6.png", alt='80x80', style='width: 80px; height; 80px;')
            .timeline-panel
              .timeline-heading
                h4 QUESTION 6
                h4.subheading How long keep the items in shopping cart?
              .timeline-body
                p.text-muted
                  |  Usually, buyers can keep some items in their shopping cart forever. But if the stocks of the items are out of, buyer cannot buy those.
          li
            .timeline-image
              img.img-circle.img-responsive(src="images/qna/cir7.png", alt='80x80', style='width: 80px; height; 80px;')
            .timeline-panel
              .timeline-heading
                h4 QUESTION 7
                h4.subheading How to return or exchange?
              .timeline-body
                p.text-muted
                  | If buyers want to return or exchange deliveried product, please connect seller in advance.
          li.timeline-inverted
            .timeline-image
              img.img-circle.img-responsive(src="images/qna/cir8.png", alt='80x80', style='width: 80px; height; 80px;')
            .timeline-panel
             .timeline-heading
                h4 QUESTION 8
                h4.subheading Which bulletin board community can users use?
              .timeline-body
                p.text-muted
                  |  Users only can use 'Free bulletin board'. Using other bulletin boards are not permitted.
          li
            .timeline-image
              img.img-circle.img-responsive(src="images/qna/cir9.png", alt='80x80', style='width: 80px; height; 80px;')
            .timeline-panel
              .timeline-heading
                h4 QUESTION 9
                h4.subheading How to watch some lectures?
              .timeline-body
                p.text-muted
                  | Users can watch lectures offered by Board a To z, at lecture bulletin board.