extends layout

block style
	style.
		img {margin: 0 auto;}

block content
	.row.text-center
		br
		br		
		h2 SKKU Software Engineering Team 4
		label.line
			
	.brand
		.col-lg-1.hidden-sm.hidden-md.hidden-xs
		.col-sm-6.col-md-4.col-lg-2.col-xs-12.text-center
			img.img-circle(alt='160x160', style='width: 160px; height; 160px;', src="images/members/sujin.jpg", data-holder-rendered='true')
			h3(style='line-height:2.3em')
				b Oh Sujin
			h4 Team Leader
			h3(style='line-height:2.3em; font-family: BMJUA_ttf; color: #9cbf27') PART
			hr.hidden-lg
		.col-sm-6.col-md-4.col-lg-2.col-xs-12.text-center
			img.img-circle(alt='160x160', style='width: 160px; height; 160px;', src="images/members/Jeonghun.jpg", data-holder-rendered='true')
			h3(style='line-height:2.3em')
				b Gong Jeonghun
			h4 role
			h3(style='line-height:2.3em; font-family: BMJUA_ttf; color: #9cbf27') PART
			hr.hidden-lg
		.col-sm-6.col-md-4.col-lg-2.col-xs-12.text-center
			img.img-circle(alt='160x160', style='width: 160px; height; 160px;', src="images/members/taejun.jpg", data-holder-rendered='true')
			h3(style='line-height:2.3em')
				b Kim Taejun
			h4 role
			h3(style='line-height:2.3em; font-family: BMJUA_ttf; color: #9cbf27') PART
			hr.hidden-lg
		.col-sm-6.col-md-4.col-lg-2.col-xs-12.text-center
			img.img-circle(alt='160x160', style='width: 160px; height; 160px;', src="images/members/sangkyu.jpg", data-holder-rendered='true')
			h3(style='line-height:2.3em')
				b Lee Sangkyu
			h4 role
			h3(style='line-height:2.3em; font-family: BMJUA_ttf; color: #9cbf27') PART
			hr.hidden-lg
		.col-sm-6.col-md-4.col-lg-2.col-xs-12.text-center
			img.img-circle(alt='160x160', style='width: 160px; height; 160px;', src="images/members/hongryul.jpg", data-holder-rendered='true')
			h3(style='line-height:2.3em')
				b Jung Hongryul
			h4 Designer
			h3(style='line-height:2.3em; font-family: BMJUA_ttf; color: #9cbf27') LEMON DIFFUSER

		.clearfix
