extends layout

block style
  style.
    form h2, form a {margin: 2em 0;}
    form h5 {margin: 1em 0;}
    button.btn {width: 30px; height: 30px; margin-right:10px; border: 2px solid black;}
block content
  .container
    .reg_product
      form(role='form', name='reg_product' action='/insert_product', method='post', enctype="multipart/form-data")
        .col-xs-12
          h2 Register Product
          h5 Type
          select#type.form-control(name='type', required)
            option(value='Type', disabled, selected) Type
            option(value='0') Complete
            option(value='1') Component
            option(value='2') Accessory
          h5 Subtype
          select#subtype.form-control(name='subtype', required)
            option(value='Subtype', disabled, selected) Select type first
          h5 Product Name
          input#name.form-control(type='text', name='name', placeholder='Product Name', required)
          h5 Price
          input#price.form-control(type='text', name='price', placeholder='Price', required)
          h5 Stock
          input#stock.form-control(type='text', name='stock', placeholder='Stock', required)
          h5 Color
          button.btn.color-btn(type='button', style='background-color: black;', value='0')
          button.btn.color-btn(type='button', style='background-color: white;', value='1')
          button.btn.color-btn(type='button', style='background-color: red;', value='2')
          button.btn.color-btn(type='button', style='background-color: orange;', value='3')
          button.btn.color-btn(type='button', style='background-color: yellow;', value='4')
          button.btn.color-btn(type='button', style='background-color: green;', value='5')
          button.btn.color-btn(type='button', style='background-color: blue;', value='6')
          button.btn.color-btn(type='button', style='background-color: purple;', value='7')
          button.btn.color-btn(type='button', style='background-color: #79E5CB;', value='8')
          input#color.form-control(type='hidden', name='color', placeholder='color', required)
          h5 Main Image File
          input#img.form-control(type='file', name='file', placeholder='Main Image File', required)
          h5 Comment Image File
          input#comment.form-control(type='file', name='file', placeholder='Comment Image File', required)
          a.hvr-skew-backward(onClick='register();') Register

block script
  script.
    $(document).ready(function() {
      $('#type').change(function() {
        var type = $('#type').val();
          if (type == '0') {
            $('#subtype').html('');
            $('#subtype').append("<option value='Subtype' disabled selected>Subtype</option>");
            $('#subtype').append("<option value='0'>Longboard</option>");
            $('#subtype').append("<option value='1'>Cruserboard</option>");
            $('#subtype').append("<option value='2'>Skateboard</option>");
          } else if (type == '1') {
            $('#subtype').html('');
            $('#subtype').append("<option value='Subtype' disabled selected>Subtype</option>");
            $('#subtype').append("<option value='0'>Truck</option>");
            $('#subtype').append("<option value='1'>Wheel</option>");
            $('#subtype').append("<option value='2'>Deck</option>");
          } else if (type == '2') {
            $('#subtype').html('');
            $('#subtype').append("<option value='Subtype' disabled selected>Subtype</option>");
            $('#subtype').append("<option value='0'>Cleaning</option>");
            $('#subtype').append("<option value='1'>Protects</option>");
          }
      })
      $('.color-btn').click(function() {
        $('.color-btn').each(function() {
          $(this).css('border', '2px solid black');
        })
        $(this).css('border', '3px solid skyblue');
        $("#color").val($(this).val());
      });
    });

    function register() {
      if ($('#type').val() && $('#subtype').val() && $('#name').val() != "" && $('#price').val() != "" && $('#stock').val() != "" && $('#color').val() != "" && $('#img').val() != "" && $('#comment').val() != "")
        $('form').submit();
      else
        alert('Please fill all the contents.');
    }