extends layout

block style
  style.
    h2, select {margin_bottom: 2em;}

block content
  .container
    .reg_product
      form(role='form', name='reg_product' action='insert_product', method='post')
        .col-md-12
          h2 Register Product
          select.form-control(name='type', required)
            option(value='Type', disabled, selected)
            option(value='Complete')
            option(value='Component')
            option(value='Accessory')
          select.form-control(name='subtype', required)
            option(value='Subtype', disabled, selected)
            option(value='Complete')
            option(value='Component')
            option(value='Accessory')
          .login-mail
            input(type='text', name='name', placeholder='Product name', required)
            //i.glyphicon.glyphicon-user
          .login-mail
            input(type='text', name='price', placeholder='Price', required)
            //i.glyphicon.glyphicon-pencil
          .login-mail
            input(type='text', name='stock', placeholder='Stock', required)
            //i.glyphicon.glyphicon-phone
          //label.hvr-skew-backward
            input(type='submit', value='Submit')
          a.hvr-skew-backward(onClick='register()') Register
