extends layout

block style
  style.
    h2, a {margin: 2em 0;}
    h5 {margin: 1em 0;}
    button.btn {width: 30px; height: 30px; margin-right:10px; border: 2px solid black;}
block content
  .container
    .reg_product
      form(role='form', name='reg_product' action='insert_product', method='post')
        .col-xs-12
          h2 Register Product
          h5 Type
          select#type.form-control(name='type', required)
            option(value='Type', disabled, selected) Type
            option(value='Complete') Complete
            option(value='Component') Component
            option(value='Accessory') Accessory
          h5 Subtype
          select#subtype.form-control(name='subtype', required)
            option(value='Subtype', disabled, selected) Select type first
          h5 Product Name
          input.form-control(type='text', name='name', placeholder='Product Name', required)
          h5 Price
          input.form-control(type='text', name='price', placeholder='Price', required)
          h5 Stock
          input.form-control(type='text', name='stock', placeholder='Stock', required)
          h5 Color검정, 흰색, 빨강, 주황, 노랑, 초록, 파랑, 보라, 민트
          button.btn(type='button' style='background-color: black;')
          button.btn(type='button' style='background-color: white;')
          button.btn(type='button' style='background-color: red;')
          button.btn(type='button' style='background-color: orange;')
          button.btn(type='button' style='background-color: yellow;')
          button.btn(type='button' style='background-color: green;')
          button.btn(type='button' style='background-color: blue;')
          button.btn(type='button' style='background-color: purple;')
          button.btn(type='button' style='background-color: #79E5CB;')

          h5 Main Image File
          input.form-control(type='file', name='img', placeholder='Main Image File', required)
          h5 Comment Image File
          input.form-control(type='file', name='comment', placeholder='Comment Image File', required)
          //label.hvr-skew-backward
            input(type='submit', value='Submit')
          a.hvr-skew-backward(onClick='register()') Register

block script
  script.
    $(document).ready(function() {
      $('#type').change(function() {
        var type = $('#type').val();
          if (type == 'Complete') {
            $('#subtype').html('');
            $('#subtype').append("<option value='Subtype' disabled selected>Subtype</option>");
            $('#subtype').append("<option value='Longboard'>Longboard</option>");
            $('#subtype').append("<option value='Cruserboard'>Cruserboard</option>");
            $('#subtype').append("<option value='Skateboard'>Skateboard</option>");
          } else if (type == 'Component') {
            $('#subtype').html('');
            $('#subtype').append("<option value='Subtype' disabled selected>Subtype</option>");
            $('#subtype').append("<option value='Truck'>Truck</option>");
            $('#subtype').append("<option value='Wheel'>Wheel</option>");
            $('#subtype').append("<option value='Deck'>Deck</option>");
          } else if (type == 'Accessory') {
            $('#subtype').html('');
            $('#subtype').append("<option value='Subtype' disabled selected>Subtype</option>");
            $('#subtype').append("<option value='Cleaning'>Cleaning</option>");
            $('#subtype').append("<option value='Protects'>Protects</option>");
          }
      })
    });
    function register() {

    }


