extends layout

block style
  style.
    label.hvr-skew-backward {margin-bottom: 50px;}

block content
  .container
    .login
      form(role='form', action='sign_insert', method='post')
        .col-md-12.login-do
          .login-mail
            input(type='text', name='email', placeholder='Email', required, value=(email ? '#{email}' : null))
            i.glyphicon.glyphicon-envelope
          if (!email)
            .login-mail
              input(type='password', name='pw', placeholder='Password', required)
              i.glyphicon.glyphicon-lock
          else
            input(type='hidden', name='pw', placeholder='Password', required, value='thisuserfacebook')
          .login-mail
            input(type='text', name='name', placeholder='Name', required, value=(name ? '#{name}' : null))
            i.glyphicon.glyphicon-user
          .login-mail
            input(type='text', name='nickname', placeholder='Nickname', required)
            i.glyphicon.glyphicon-pencil
          .login-mail
            input(type='text', name='phone', placeholder='Phone Number', required)
            i.glyphicon.glyphicon-phone
          .login-mail
            input(type='text', name='address', placeholder='Address', required)
            i.glyphicon.glyphicon-home
          .login-mail
            input(type='password', name='cooperation', placeholder='Cooperation Number ( only Seller have to fill this blank)', required)
            i.glyphicon.glyphicon-lock
          label.hvr-skew-backward
            input(type='submit', value='Submit')
