extends layout

block style
  style.
    form {padding-bottom: 50px;}

block content
  .container
    .login
      form(role='form', action='sign_insert', method='post')
        .col-md-12.login-do
          .login-mail
            input(type='text', name='email', placeholder='Email', required=)
            i.glyphicon.glyphicon-envelope
          .login-mail
            input(type='password', name='pw', placeholder='Password', required)
            i.glyphicon.glyphicon-lock
          .login-mail
            input(type='text', name='name', placeholder='Name', required)
            i.glyphicon.glyphicon-user
          .login-mail
            input(type='text', name='nickname', placeholder='Nickname', required)
            i.glyphicon.glyphicon-pencil
          .login-mail
            input(type='text', name='phone', placeholder='Phone Number', required)
            i.glyphicon.glyphicon-phone
          .login-mail
            input(type='text', name='address', placeholder='Address', required)
            i.glyphicon.glyphicon-home
          label.hvr-skew-backward
            input(type='submit', value='Submit')
