extends layout

block style
	style.
		img {margin: 0 auto;}

block content
	.row.col-lg-12.text-center
		br
		br
		h2.section-heading Q & A
		label.line
		br
		h3.section-subheading.text-muted There are the best 10 question.
		br
		br
	.clearfix
		.row.col-lg-12
			ul.timeline
				li
					.timeline-image
						img.img-circle.img-responsive(src='img/about/1.jpg', alt='')
					.timeline-panel.timeline-heading
						h4 2009-2011
						h4.subheading Our Humble Beginnings
					.timeline-body
						p.text-muted
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, 	sed, incidunt et ea quo dolore laudantium consectetur!
				li
					.timeline-image
						img.img-circle.img-responsive(src='img/about/2.jpg', alt='')
					.timeline-panel.timeline-heading
						h4 2009-2011
						h4.subheading Our Humble Beginnings
					.timeline-body
						p.text-muted
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, 	sed, incidunt et ea quo dolore laudantium consectetur!
				li
					.timeline-image
						img.img-circle.img-responsive(src='img/about/3.jpg', alt='')
					.timeline-panel.timeline-heading
						h4 2009-2011
						h4.subheading Our Humble Beginnings
					.timeline-body
						p.text-muted
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, 	sed, incidunt et ea quo dolore laudantium consectetur!
				li
					.timeline-image
						img.img-circle.img-responsive(src='img/about/4.jpg', alt='')
					.timeline-panel.timeline-heading
						h4 2009-2011
						h4.subheading Our Humble Beginnings
					.timeline-body
						p.text-muted
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, 	sed, incidunt et ea quo dolore laudantium consectetur!
				li.timeline-inverted
					.timeline-image
						h4
							| Be Part
							br
							| Of Our
							br
							| Story!
		.clearfix
