extends layout

block style
	style.
		form textarea {height: 500px;}
		button {display: inline; margin-right: 5px;}
		textarea {resize: none; width: 100%; margin-bottom: 15px;}
		input {width: 100%; margin-bottom: 15px; margin-top: 30px;}
		h2 {margin: 30px 0; text-align: center;}


block content

	.container
		.col-xs-12
			each val in list
				h3 thread title
				hr
				h4 #{val.buyer_comment}
		
				br
				h4 #{val.seller_comment}
			
				br
				br

			form.form(role = 'form', method = 'post')
				textarea(name = 'threadupdate', placeholder = 'update your thread in here.', required)
				button(type = 'submit').btn.btn-info Write
		
