extends layout

block style
	style.
		form textarea {height: 500px;}
		button {display: inline; margin-right: 5px;}
		textarea {resize: none; width: 100%; margin-bottom: 15px;}
		input {width: 100%; margin-bottom: 15px; margin-top: 30px;}
		h2 {margin: 30px 0; text-align: center;}


block content

	.container1
		.col-md-12
			each val in list
				h3 thread thtle

				a #{val.buyer_comment}

				br

				a #{val.seller_comment}

				.clearfix
		
		
